*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f4f4f4;
}

h1 {
    text-align: center;
}

.card {
    width: 33.33%;
    padding: 50px;
    /* puedes modificar este valor y observar los cambios */
    border: 25px solid red;
}

.contenedor {
    width: 906px;
    margin: auto;
    border: 3px solid black;
    background: #e6f2ff;
    display: flex;
    /* prueba eliminar temporalmente esta regla */
}



button {
    padding: 10px;
}