* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #e9e9e9;
}

.contenedor {
    width: 1200px;
    margin: 40px auto;
}

.tabla-objetivo {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-bottom: 35px;
}

.tabla-objetivo th,
.tabla-objetivo td {
    border: 1px solid black;
    padding: 30px;
    text-align: left;
    vertical-align: top;
    font-size: 18px;
}

.col-pregunta,
.pregunta {
    background: yellow;
    font-weight: bold;
    width: 230px;
}

.bloque-texto {
    margin-left: 15px;
}

.bloque-texto h1 {
    font-size: 34px;
    margin-bottom: 20px;
    color: black;
}


.bloque-texto p {
    font-size: 18px;
    color: #444;
}