p {

    color: blue;
}

.destacado {
    background-color: lightyellow;
}

#foto-perfil {
    border: 2px dotted red;
}

/* Ejercicio 3: Selector de atributo */
a[target="_blank"]::after {
    content: " 🔗";
    font-size: 14px;
    color: red;
}

/* Ejercicio 4: Combinador descendiente */
#experiencia p {
    font-size: 0.9em;
    color: red;
}

/* Ejercicio 5: Combinador hijo directo */
#experiencia>ul>li {
    list-style-type: square;
}

/* Ejercicio 6: Combinador hermano adyacente */
h2+p {
    margin-top: 0;
}

/* Ejercicio 7: Combinador hermano general */
h2~p {
    color: lightgray;
}